# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# dotenv environment variable files
.env

# Dependency directories
node_modules/

# Miscellaneous files
dist
README.md
npm-debug.log
.parcel-cache
.git